certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.8
django-jet==1.0.8
feedparser==5.2.1
google-api-python-client==1.4.1
httplib2==0.14.0
idna==2.8
Pillow==6.2.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.13.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.6
