certifi
chardet
defusedxml
Django
django-jet
feedparser
google-api-python-client
httplib2
idna
python-decouple
dj-database-url
Pillow
pyasn1
pyasn1-modules
PyJWT
pytz
requests
rsa
six
sqlparse
uritemplate
urllib3
