    {% load staticfiles %}
        <footer class="cd-hero__nav js-cd-nav tm-footer">

            <div class="tm-social-icons-container">
                <a href="#" class="tm-social-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="tm-social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fab fa-youtube"></i></a>
                <a href="#" class="tm-social-link"><i class="fab fa-linkedin"></i></a>
            </div>

            <p class="tm-copyright-text">Copyright &copy; 2016 Your Company - Design: <a href="https://plus.google.com/+templatemo" target="_blank">Templatemo</a></p>

        </footer>
        </div>
        <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- jQuery -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- bootstrap -->
        <script src="{% static 'js/components/hero-slider/hero-slider.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
