    {% load staticfiles %}
    <head>
        <meta charset="utf-8" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="i-City - O mundo ao seu alcance..." />
        <meta name="author" content="Alcindo Schleder" />
        <title>i-City HotSpot</title>

        <link href="https://fonts.googleapis.com/css?family=ABeeZee|Josefin+Sans|Wire+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">    <!-- Google web font "Open Sans" -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!-- bootstrpa 4 required -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css" /> <!-- font-awesome font images -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" type="text/css" rel="stylesheet" />

        <link href="{% static 'css/components/hero-slider/hero-slider.css' %}"  rel="stylesheet" type="text/css" /> <!-- Hero slider -->
        <link href="{% static 'css/layout/index.css' %}" rel="stylesheet" /> <!-- custom CSS -->
        <link href="{% static 'img/favicon.png' %}" rel="shortcut icon" />
        <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- Content -->
        <div class="cd-hero">

            <!-- Navigation -->
        <!-- Navigation -->
        <section class="cd-slider-nav">
            <nav class="navbar">

                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active selected">
                            <a class="nav-link" href="#0" data-no="1">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#0" data-no="2">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#0" data-no="3">Pordutos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#0" data-no="4">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#0" data-no="5">Contatos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
