/*

Flat Template

http://www.templatemo.com/tm-491-flat

*/

html {
	font-family: 'Raleway', 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 300;
}
body {
	color: black;
	background-color: #fff;
}
nav { padding: 0; margin: 0; }
ul { padding: 0; margin: 0; }
a { padding: 0; margin: 0; }
img { padding: 0; margin: 0; }
p:last-child { margin-bottom: 0; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
.container-fluid {
	width: 100vw;
	height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hide;
}
/*----------------------------------------------
        Header Page
------------------------------------------------*/
header {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding 0;
}
header nav {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg,  rgba(255,255,255,0.94) 0%,
                                        rgba(255,255,255,0.49) 40%,
                                        rgba(204,204,204,0.0) 100%);
    width: 100%;
    text-align: right;
    height: 10vh;
}
header nav .navbar-brand {
    position: absolute;
    left: 2rem;
    float: left;
}
header nav .navbar-toggler {
    position: absolute;
    left: 86%;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 1.8rem;

}
header nav .navbar-toggler:hover {
    border: 2px solid #1566d1;
}
header nav .navbar-right:first-child {
    margin-left: 50%;
    border-botton: 1px solid red;
}
/*----------------------------------------------
        Backgroud of Page
------------------------------------------------*/
header #backgroud-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9;
    background-color: transparent;
}
.carousel-inner>.carousel-item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
}
.carousel-caption {
   position: absolute;
   top:65vh;
}
.carousel-item {
    width: 100vw;
    height: 100vh;
    min-height: 350px;
    color: #1566d1;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -5;
}
.bg-page-item-01 {
    background-image: url('../img/bg-01.jpg');
}
.bg-page-item-02 {
    background-image: url('../img/bg-02.jpg');
}
.bg-page-item-03 {
    background-image: url('../img/bg-03.jpg');
}
/*----------------------------------------------
        Main Page
------------------------------------------------*/
#page-login {
    width: 100%;
    height: 84vh;
}
#page-login .title {
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg,  rgba(0,0,0,0.0) 10%,
                                        rgba(0,0,0,0.3) 20%,
                                        rgba(0,0,0,0.5) 30%,
                                        rgba(0,0,0,0.3) 80%,
                                        rgba(0,0,0,0.0) 100%);
}
#page-login .title h2 {
    font-size: 1.2rem;
}
#page-login .title p {
    color: #e0e0e0;
    padding: 0;
    margin: 0 20% 0 20%;
    font-size: 1rem;
}
#page-login .comtainer-form-login {
    margin: 1rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255,255,255,0.7);
    background: linear-gradient(90deg,  rgba(255,255,255,0.0) 10%,
                                        rgba(255,255,255,0.5) 20%,
                                        rgba(255,255,255,0.9) 30%,
                                        rgba(255,255,255,0.5) 80%,
                                        rgba(204,204,204,0.0) 100%);
}
#page-login .social-icons-login {
    padding: 20px;
    font-size: 4rem;
}
#page-login .social-icons-login .d-block {
    margin: 10px 0 10px 10px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 6rem;
}
/*
#page-login .social-icons-login .d-block a {
    padding: 2%;
}
*/
#page-login .social-icons-login .form-login {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5%;
}
#page-login .social-icons-login .form-login .form-group,
#page-login .social-icons-login .form-login .form-control,
#page-login .social-icons-login .form-login .col-form-label {
    padding: 0 !impotant;
    margin: 0 !impotant;
}
#page-login .social-icons-login .form-login .col-form-label {
    font-size: 1.1rem;
}
#page-login .social-icons-login .form-login .send-btns {
    margin-top: 10px;
    font-size: 1.1rem;
}
#page-login .social-icons-login .form-login .send-btns a {
    float: left;
}
#page-login .social-icons-login .form-login .send-btns a:hover {
    background-color: rgba(0,0,0,0.1)
}
#page-login .social-icons-login .form-login .send-btns input {
    float: right;
}
.btn-login-title {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.fa-facebook {
    padding: 2%;
    color: #1566d1;
    background-color: rgba(21, 102, 209, 0.1);
}
.fa-twitter {
    padding: 2%;
    color: #09add6;
    background-color: rgba(9, 173, 214, 0.1);
}
.fa-github {
    padding: 2%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}
.fa-instagram {
    padding: 2%;
    color: #f00;
    background-color: rgba(255, 0, 0, 0.1);
}
.fa-linkedin {
    padding: 2%;
    color: #00f;
    background-color: rgba(0, 0, 255, 0.1);
}
/*----------------------------------------------
        Footer Page
------------------------------------------------*/
footer {
    width: 100%;
    height: 5vh;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}
footer .social-icons-footer a {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #8bdcf0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}
