{%extends 'base/base.html'%}
{% load staticfiles %}
    {% block content %}

        <ul class="cd-hero-slider">  <!-- autoplay -->
            <li class="selected">
                <div class="cd-full-width">
                    <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">

                        <div class="row">

                            <div class="col-xs-12">
                                <i class="fa fa-4x fa-camera tm-icon"></i>
                                <h2 class="tm-site-name">FLAT design</h2>
                                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-1-col">
                                    <p class="tm-text">Flat design used <a rel="nofollow" href="https://codyhouse.co/gem/hero-slider/" target="_blank">Hero Slider</a> for left and right page transitions. Responsiveness is based on <a rel="nofollow" href="http://getbootstrap.com/" target="_blank">Bootstrap</a> 4 alpha 2. Images are taken from <a rel="nofollow" href="https://unsplash.com/" target="_blank">Unsplash</a>. This web template is provided by <a href="https://plus.google.com/+templatemo" target="_blank">templatemo</a> for free of charge.</p>
                                    <p class="tm-text">Mauris eros lacus, sollicitudin sit amet lacinia et, vehicula bibendum felis. Pellentesque in quam iaculis erat iaculis lacinia. Donec sagittis sapien odio, a sodales velit elementum nec.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div> <!-- .cd-full-width -->
            </li>

            <li>
                <div class="cd-full-width">

                    <div class="container-fluid js-tm-page-content" data-page-no="2">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-2-col-container">

                                    <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox">
                                        <h2 class="tm-text-title">Lorem ipsum dolor</h2>
                                        <p class="tm-text">Quisque sagittis quam tortor, sit amet posuere justo tempor non. Cras tempus, eros vel ultrices aliquam, velit tortor sodales risus, ac facilisis lectus tortor eget neque.</p>
                                        <p class="tm-text">Nam auctor dui ante. Curabitur tristique nec ligula ac semper. Nunc eu leo sit amet elit condimentum consectetur.</p>
                                    </div>

                                    <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox">
                                        <h2 class="tm-text-title">Phasellus rutrum sapien</h2>
                                        <p class="tm-text">
                                        Donec sagittis sapien odio, a sodales velit elementum nec. Donec feugiat purus a bibendum hendrerit.</p>
                                        <p class="tm-text">Fusce ut elit interdum sem consectetur maximus. Mauris eros lacus, sollicitudin sit amet lacinia et, vehicula bibendum felis. Pellentesque in quam iaculis erat iaculis lacinia.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- .cd-full-width -->

            </li>

            <!-- Page 3 -->
            <li>

                <div class="cd-full-width">

                    <div class="container-fluid js-tm-page-content" data-page-no="3">

                        <div class="row tm-img-gallery">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-01.jpg' %}">
                                    <img src="{% static 'img/tm-img-01-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-02.jpg' %}">
                                    <img src="{% static 'img/tm-img-02-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-03.jpg' %}">
                                    <img src="{% static 'img/tm-img-03-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-04.jpg' %}">
                                    <img src="{% static 'img/tm-img-04-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-05.jpg' %}">
                                    <img src="{% static 'img/tm-img-05-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <a href="{% static 'img/tm-img-06.jpg' %}">
                                    <img src="{% static 'img/tm-img-06-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </li>

            <li>  <!-- class="cd-bg-video" -->
                <div class="js-tm-page-content" data-page-no="4">

                    <div class="cd-bg-video-wrapper" data-video="{% static 'video/sunset-loop' %}">
                        <!-- video element will be loaded using jQuery -->
                    </div> <!-- .cd-bg-video-wrapper -->

                </div>

            </li>

            <li>
                <div class="cd-full-width">

                    <div class="container-fluid js-tm-page-content" data-page-no="5">

                        <div class="tm-contact-page">

                            <div class="row">

                                <div class="col-xs-12">

                                    <h2 class="tm-section-title">Contact Us</h2>
                                    <p class="tm-text tm-font-w-400 m-b-3">Pellentesque in quam iaculis erat iaculis lacinia. Donec sagittis sapien odio, a sodales velit elementum nec. Donec feugiat purus a bibendum hendreit.</p>

                                </div>

                            </div>

                            <!-- contact form -->
                            <div class="row">
                                <form action="index.html" method="post" class="tm-contact-form">

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Your Name"  required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Your Email"  required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject"  required/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <textarea id="contact_message" name="contact_message" class="form-control" rows="5" placeholder="Your message" required></textarea>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <button type="submit" class="pull-xs-right tm-submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div> <!-- .cd-full-width -->
            </li>
        </ul> <!-- .cd-hero-slider -->

        <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
        <div id="loader-wrapper">

            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>

    {% endblock %}
