{% extends 'base/base.html' %}
{% load staticfiles %}
    {% block content %}
        <section id="page-login">
            <div class="title text-center">
                <h2 class="login-title">Bem Vindo a i-City HotSpot</h2>
                <p class="site-description">
                    Você está se conectando ao HotSpot da i-City Smart Environments. Aqui você tem acesso gratuito à interne e encontra os produtos de nossos parceirots, bem como os principais pontos de conexão perto de você.
                </p>
                <p>Faça seu login e divirta-se!!</p>
            </div>
            <div class="comtainer-form-login text-center">
                <div class="social-icons-login row">
                    <div class="d-block col-xs-12 col-sm-6 col-md-4 col-lg-1 col-xl-1">
                        <a href="{% url 'social:begin' 'facebook' %}" class="login-social-link" disabled="disabled">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <div class="btn-login-title">Facebook Login</div>
                    </div>
                    <div class="d-block col-xs-12 col-sm-6 col-md-4 col-lg-1 col-xl-1">
                        <a href="#" class="login-social-link" disabled="disabled">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <div class="btn-login-title">Twitter Login</div>
                    </div>
                    <div class="d-block col-xs-12 col-sm-6 col-md-4 col-lg-1 col-xl-1">
                        <a href="{% url 'social:begin' 'github' %}" class="login-social-link" data-toogle="tooltip" title="Fazer login através do GitHub">
                            <i class="fab fa-github"></i>
                        </a>
                        <div class="btn-login-title">GitHub Login</div>
                    </div>
                    <div class="d-block col-xs-12 col-sm-6 col-md-4 col-lg-1 col-xl-1">
                        <a href="#" class="login-social-link" disabled="disabled" data-toogle="tooltip" title="Fazer login utilizando Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <div class="btn-login-title">Instagram Login</div>
                    </div>
                    <div class="d-block col-xs-12 col-sm-6 col-md-4 col-lg-1 col-xl-1">
                        <a href="#" class="login-social-link" disabled="disabled">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <div class="btn-login-title">LinkedIn Login</div>
                    </div>
                    <form class="form-login col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6 text-left" method="post" action="/login/cadstro.html">
                        {% csrf_token %}
                        <input type="hidden" name="ga_ssid" value="$(identity)">
                        <input type="hidden" name="ga_ap_mac" value="6C-3B-6B-04-3C-39">
                        <input type="hidden" name="ga_nas_id" value="$(chap-id)">
                        <input type="hidden" name="ga_srvr" value="$(server-address)">
                        <input type="hidden" name="ga_cmac" value="$(mac)">
                        <input type="hidden" name="ga_cip" value="$(ip)">
                        <input type="hidden" name="ga_loc" value="InternetMovel">
                        <input type="hidden" name="ga_Qv" value="$(chap-challenge)">
                        <input type="hidden" name="link-login" value="$(link-login)">
                        <input type="hidden" name="link-orig" value="$(link-orig)">
                        <input type="hidden" name="link-login-only" value="$(link-login-only)">
                        <input type="hidden" name="link-orig-esc" value="$(link-orig-esc)">
                        <label id="lbl-user" class="col-form-label" for="ed-user">Usuário: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="ed-user" id="ed-user" placeholder="seunome@exemplo.com.br" />
                        <label id="lbl-pwd" class="col-form-label" for="ed-password">Senha: <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="ed-password" id="ed-password" placeholder="digite sua senha" />
                        <div class="form-group text-center send-btns row">
                            <div class="d-inline col-12">
                                <a href="#" class="login-manual-link col-1" data-toogle="tooltip" title="Perdi minha senha">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                                <a href="#" class="login-manual-link col-1" data-toogle="tooltip" title="Logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                                <span class="col-3"></span>
                                <a href="#" class="login-manual-link col-1" data-toogle="tooltip" title="Adicionar novo usuário">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                                <span class="col-2"></span>
                                <input type="submit" class="form-control col-3 btn btn-primary" id="btn-send-data" value="entrar" />
                            </div>
<!--                            <div class="clearfix"></div>-->
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% endblock %}
